:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --tranparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-grey: hsl(0, 0%, 95%);
}

body {
  font-size: 15px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  font-family: "Big Shoulders Display", cursive;
  font-family: "Lexend Deca", sans-serif;
  text-align: left;
}

.container {
    display: flex;
    flex-direction: row;
}

.sedan-card, .suv-card, .luxury-card {
    width: 300px;
    height: 500px;
}

.sedan-card {
    background-color: var(--bright-orange);
}

.suv-card {
    background-color: var(--dark-cyan);
}

.luxury-card {
    background-color: var(--very-dark-cyan);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--bright-orange);
}
